@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lalezar&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}
p {
  font-size: 1rem;
}
#root {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
body {
  height: 100vh;
  background-color: #f5f6fa;
}
.container {
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 43%;
  border-radius: 1rem;
  padding: 20px;
}
.Top_comment {
  width: 100%;
}
.com_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
}
.score {
  background-color: #f5f6fa;
  height: 100px;
  width: 5%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.score p {
  color: #5457b6;
  font-weight: bolder;
}
.score img {
  cursor: pointer;
}
.comment {
  margin-left: 20px;
  width: 95%;
}
.comment_info {
  display: flex;
  flex-direction: row;

  align-items: center;
  position: relative;
}
#user_name {
  font-size: 1.1rem;
  margin-left: 15px;
}
#time_comment {
  color: #67727e;
  opacity: 0.6;
  margin-left: 15px;
}
#you_signage,
#you_signage_reply {
  background-color: #5457b6;
  padding: 2px 7px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  display: block;
}
#user_content {
  color: #67727e;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}
#avatar,
#avatar_send {
  width: 40px;
  height: 40px;
}
.btn {
  position: absolute;
  right: 0;
  border: none;
  color: #5457b6;
  background-color: #fff;
  margin-left: 60%;
  font-size: 1rem;
  font-weight: bold;
}
.updateInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn_update {
  background: #5457b6;
  color: #fff;
  border-radius: 9px;
  padding: 07px 15px 7px 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 20px;
}
#update_entry {
  height: 100%;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #e1e5ea;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 20px;
}
.btn_delete {
  position: absolute;
  right: 80px;
  border: none;
  color: rgba(255, 0, 0, 0.74);
  background-color: #fff;

  font-size: 1rem;
  font-weight: bold;
}

#reply_img {
  margin-right: 10px;
}
.comment_input {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 137px;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 10px;
}
#btn_send {
  background: #5457b6;
  color: #fff;
  border-radius: 9px;
  padding: 07px 15px 7px 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
}
#comment_entry {
  height: 100%;
  width: 70%;
  border: 1px solid #e1e5ea;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 20px;
}
#reply_to_reply {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 137px;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 10px;
  width: 95%;
  margin-left: 5%;
}

.modal_wraper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  transform: translate(-50%, -50%);
  background: #978b8bcf;
  padding: 10px;
  color: whitesmoke;
  z-index: 999;
  border-radius: 18px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.modal_wraper p {
  text-align: center;
}
.modal_btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#delete {
  background: #ed6468;
  color: #fff;
  border-radius: 9px;
  padding: 07px 15px 7px 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
}
#cancel {
  background: rgb(100 100 100);
  color: #fff;
  border-radius: 9px;
  padding: 07px 15px 7px 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 5px;
  }
  .com_container {
    flex-direction: column-reverse;
    padding: 05px;
  }
  .replie_container {
    flex-direction: column-reverse;
  }
  .score {
    flex-direction: row;
    width: 50%;
    height: 25px;
    margin-top: 20px;
  }
  .comment {
    display: flex;
  }
  .comment_info {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  #avatar,
  #user_name,
  #you_signage_reply,
  #time_comment,
  .btn {
    margin-left: 0;
    margin-top: 20px;
  }
  .btn {
    position: relative;
    margin: 0;
  }
  .btn_delete {
    position: relative;
    right: 0;
  }
  .paragraphe {
    margin-left: 10px;
  }
  #comment_entry {
    padding: 10px;
    margin-left: 10px;
  }
  #btn_send {
    margin-left: 10px;
  }
}
